body {
    height: 100vh;
}

#bgVideo {
    position: fixed;
    z-index: -5;
}

/*NAVIGATION*/

.navbar {
    background-color: rgb(56, 4, 14, .5);
    border-bottom: 1px solid antiquewhite;
}

.navbar-brand {
    color: antiquewhite;
}

.navbar-brand:hover {
    color: antiquewhite;
}

.nav-btn {
    background-color: #38040E;
    color: antiquewhite;
    border: 1px solid antiquewhite;
} 

.nav-btn:hover {
    background-color: #800E13;
    color: antiquewhite;
} 

.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 2.3rem;
    width: 2.3rem;
    border: 1px solid antiquewhite;
    border-radius: 7px;
    padding: 2px 0 2px;
}

.burger-menu:hover {
    cursor: pointer;
    background-color: #800E13;
}

.burger-menu .bar {
    width: 75%;
    height: 2px;
    background-color: antiquewhite;
    border-radius: 5px;
}

.burger-menu .bar-1.active {
    transform: translate(0, .5rem) rotate(45deg);
}

.burger-menu .bar-2.active {
    opacity: 0;
}

.burger-menu .bar-3.active {
    transform: translate(0, -.5rem) rotate(-45deg);
}

.dropdown-items {
    display: none;
    color: antiquewhite;
    list-style: none;
    position: absolute;
    top: 56px;
    /* z-index: -1; */
    margin-left: -.8rem;
    border-bottom: 1px solid antiquewhite;
    padding: 0;
    background-color: rgb(56, 4, 14, .5);
    width: 100%;
}

.dropdown-item {
    padding: .5rem 0 .5rem 1rem;
}

.dropdown-item:hover {
    cursor: pointer;
    background-color: #800E13;
}


@media (max-width: 600px) {
    .nav-btn {
        display: none;
    }
    .burger-menu {
        display: flex;
    }
}

/* MODALS GENERAL */


.modal .btn-close {
    background-color: antiquewhite;
}

.modal-content {
    background-color: rgb(56, 4, 14, .5);
    color: antiquewhite;
    border: none;
    border: 1px solid antiquewhite;
    position: relative;
    top: 2rem;
}

.card {
    background-color: #250902;
    color: antiquewhite;
    border: none;
    border: 1px solid antiquewhite;
}

.modal-header {
    background-color: #250902;
    color: antiquewhite;
    border: none;
    border-bottom: 1px solid antiquewhite;
}

.btn {
    background-color: #38040E;
    color: antiquewhite;
    border: 1px solid antiquewhite;
}

.btn:hover {
    background-color: #800E13;
    color: antiquewhite;
    border: 1px solid antiquewhite;
}



/* STOPWATCH */

#stopwatchModal .card-text {
    text-align: center;
}

#stopwatchModal .stopwatchDisplay {
    border: 1px solid antiquewhite;
    text-align: center;
    padding: 1rem;
    background-color: #38040E;
    font-size: 2rem;
}

#stopwatchModal .card-footer {
    display: flex;
    justify-content: center;
}


/* COUNTDOWN */

#countdownModal .modal-body {
    height: 300px;
    overflow: scroll;
}

#countdownModal .modal-body::-webkit-scrollbar {
    width: 5px;
    height: 1px;
}

#countdownModal .modal-body::-webkit-scrollbar-corner {
    color: transparent;
}

#countdownModal .modal-body::-webkit-scrollbar-thumb {
    background-color: #38040E;
    border-radius: 10px;
    border: 1px solid antiquewhite;
}

#countdownModal .countdown-display {
    border: 1px solid antiquewhite;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #38040E;
    font-size: 2rem;
}

#countdownModal .countdown-set {
    border: 1px solid antiquewhite;
    background-color: #38040E;
}

#countdownModal .countdown-set-header {
    text-align: center;
    padding: .5rem 0;
    border-bottom: 1px solid antiquewhite;
}

#countdownModal h6 {
    padding: 0;
    margin: 0;
}

#countdownModal .countdown-set-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem 0;
}

#countdownModal input {
    margin: .2rem 0;
    background-color: antiquewhite;
    border: 1px solid #250902;
    border-radius: 5px;
    padding-left: .5rem;
    width: 50%;
}

#countdownModal .card-footer {
    display: flex;
    justify-content: center;
}

@media (max-width: 450px) {
    #countdownModal input {
        width: 90%;
    }
}


/* TO DO LIST*/

#todoModal input {
    width: 69%;
    margin: .5rem 0;
    background-color: antiquewhite;
    border: 1px solid #250902;
    border-radius: 5px;
    padding: .2rem .5rem;
}

#todoModal .todo-button {
    width: 30%;
    background-color: #38040E;
    color: antiquewhite;
    border: 1px solid antiquewhite;
    border-radius: 5px;
    padding: .2rem .5rem;
}

#todoModal .todo-button:hover {
    background-color: #800E13;
}

#todoModal .td-done, #todoModal .td-delete {
    background-color: #38040E;
    color: antiquewhite;
    border: 1px solid antiquewhite;
    border-radius: 5px;
    margin: .3rem;
}

#todoModal .task-done {
    text-decoration: line-through;
    color: #800E13;
}

@media (max-width: 520px) {
    #todoModal input {
        width: 100%;
    }
    #todoModal .todo-button {
        width: 50%;
        transform: translate(50%, 0);
    }
}



/* BLEEP TEST */

#bleepModal .bleep-buttons {
    display: flex;
    justify-content: center;
}

#bleepModal .bleep-start, #bleepModal .bleep-stop {
    background-color: #38040E;
    color: antiquewhite;
    border: 1px solid antiquewhite;
    border-radius: 5px;
    margin: 1rem .5rem;
    padding: .2rem .5rem;
}

#bleepModal .bleep-start:hover, #bleepModal .bleep-stop:hover {
    background-color: #800E13;
}

#bleepModal .bleep-card {
    text-align: center;
}